.row{
    overflow: hidden; 
}

@font-face {
    font-family: 'Quicksand';
    src: url('../assets/Quicksand_Bold.otf');
    font-weight: normal;
    font-style: normal;
    
}

p1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 250%;
    align-self: center;
    color: #FFFFFF;
}

p2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    align-self: center;
    color: #FFFFFF;
}

.logostrip{
    padding-top: 2%;
    background-color: rgba(17, 160, 66, 0.92); 
    height: 100%;
}

.header{
    background-color: #d3d3d3; 
    height: 10%;
}

#logo{
    max-width: 50px;
    max-height: 50px;
    min-width: 20px;
    min-height: 20px;
    width: 50%;
    height: 50%;
}


span.hover-text {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
span.hover-text:hover {
    opacity: 1;
}