.row{
    overflow: hidden; 
}


@font-face {
    font-family: 'Quicksand';
    src: url('../assets/Quicksand_Bold.otf');
    font-weight: normal;
    font-style: normal;
    
}

p1 {
     font-family: 'Quicksand', sans-serif;
     font-size: 40px;
    align-self: center;
    color: #000000;
}

p2 {
       font-family: 'Quicksand', sans-serif;
     font-size: 20px;
    align-self: center;
    color: #000000;
}